.title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    text-align: center;
    color: #ff0000;
}

.titleComponentText {
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
}