.productItem {
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
}

.productItemImageContainer img {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  width: 100%;
  height: 420px;
  overflow: hidden;
}

.productItemTextContainerText {
  font-size: 1.5rem;
  font-weight: 500;
  text-align: center;
  color: #0c4d07;
  padding-top: 15px;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.productItemUlContainer {
  padding-top: 15px;
}

.productItemUlContainerLi {
  font-size: 0.9rem;
  font-weight: 400;
  text-align: center;
  color: #8e97ac;
  width: 90%;
}
