.offert {
  padding: 20px 0;
}

.offertContainer {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.offertContainerProductsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
}

.offertContainerProductContainerElement {
  flex: 1 1 calc(33.333% - 40px);
  max-width: calc(33.333% - 40px);
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s;
}

.offertContainerProductContainerElement:hover {
  transform: scale(1.05);
}
