.navbar {
    background-color: #94040b;
    color: #fff;
    height: 10vh;
    display: flex;
    align-items: center;
    top: 0;
    z-index: 1000;
}

.navbarContainer {
    display: flex;
    flex-direction: row;
    width: 90vw;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.navbarLeftPart {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navbarLeftPartName {
    font-size: 4vh;
    font-weight: 600;
}

.navbarMiddlePart {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 2vw;
}

.navbarMiddlePartElement {
    margin: 0 1vw;
    font-size: 1.8vh;
    font-weight: 600;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding-bottom: 5px;
}

.navbarMiddlePartElement::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #fff;
    transition: width 0.3s ease-in-out;
}

.navbarMiddlePartElement:hover::after {
    width: 100%;
}

.navbarMiddlePartElementImg {
    width: 28px;
    height: auto;
}

.cartBadge {
    position: absolute;
    top: -5px;
    right: -10px;
    background-color: #ff0000;
    color: #fff;
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 1.2vh;
    font-weight: 700;
}

.navbarRightPart {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 0.7vh;
}

.navbarRightPartTop,
.navbarRightPartBottom {
    font-size: 1.5vh;
    font-weight: 600;
}

/* Responsive styles */
@media (max-width: 768px) {
    .navbar {
        height: auto;
        flex-direction: column;
        align-items: flex-start;
        padding: 10px;
    }

    .navbarContainer {
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
    }

    .navbarMiddlePart {
        display: none;
        flex-direction: column;
        width: 100%;
        gap: 10px;
    }

    .navbarMiddlePartElement {
        width: 100%;
        text-align: left;
        padding: 10px 0;
    }

    .navbarRightPart {
        align-items: flex-start;
    }

    .navbarToggle {
        display: block;
        cursor: pointer;
        font-size: 2rem;
        margin-left: auto;
    }

    .navbarMiddlePart.active {
        display: flex;
    }
}

@media (min-width: 769px) {
    .navbarToggle {
        display: none;
    }
}