.hero {
    position: relative;
    width: 100%;
    height: 90vh;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.4));
}

.heroVideo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.heroContainer {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: flex-start;
    width: 80%;
    z-index: 1;
}

.heroContainerLeftSide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex: 7;
}

.heroContainerLeftSideTop {
    display: flex;
    flex-direction: column;
}

.heroContainerLeftSideTopHeader {
    font-size: 4vh;
    font-weight: 300;
}

.heroContainerLeftSideTopHeaderSpan {
    font-weight: 600;
}

.heroContainerLeftSideTopNormal {
    font-size: 2vh;
    margin-top: 0.7vh;
}

.heroContainerLeftSideBottom {
    display: flex;
    margin-top: 5vh;
}

.heroContainerLeftSideBottomBtn {
    font-size: 2vh;
    font-weight: 600;
    padding: 1vh 2vh;
    color: #fff;
    background: none;
    outline: none;
    border: none;
    border: 2px solid #fff;
    cursor: pointer;
    transition: background-color 0.4s ease-in-out, border-color 0.4s ease-in-out;
}

.heroContainerLeftSideBottomBtn:hover {
    background-color: red;
    border: 2px solid red;
}

.heroContainerRightSide {
    display: flex;
    flex-direction: column;
    letter-spacing: 0.7px;
    flex: 4;
}

.heroContainerRightSideElement {
    font-size: 2vh;
    margin-bottom: 1.2vh;
    padding-left: 1.5vh;
    position: relative;
}

/* Responsive styles */
@media (max-width: 768px) {
    .hero {
        height: auto;
        padding: 20px;
    }

    .heroContainer {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .heroContainerLeftSide {
        align-items: center;
        text-align: center;
    }

    .heroContainerLeftSideTopHeader {
        font-size: 3vh;
    }

    .heroContainerLeftSideTopNormal {
        font-size: 1.8vh;
    }

    .heroContainerLeftSideBottom {
        margin-top: 3vh;
    }

    .heroContainerLeftSideBottomBtn {
        font-size: 1.8vh;
        padding: 1vh 2vh;
    }

    .heroContainerRightSide {
        align-items: center;
        margin-top: 3vh;
    }

    .heroContainerRightSideElement {
        font-size: 1.8vh;
        margin-bottom: 1vh;
    }
}