.hero {
  position: relative;
  width: 100%;
  height: 82vh;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.heroVideo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.heroContainer {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: flex-start;
  width: 80%;
  z-index: 1;
}

.heroContainerLeftSide {
  display: flex;
  flex-direction: column;
  gap: 90px;
  margin-left: auto;
  margin-right: auto;
}

.heroContainerLeftSideTextTitle {
  font-size: 50px;
  font-weight: 300;
}

.heroContainerLeftSideTextBold {
  font-weight: 600;
}

.heroContainerLowText {
  font-size: 22px;
  margin-top: 20px;
}

.heroContainerButton {
  background-color: transparent;
  color: #fff;
  border: 5px solid #fff;
  cursor: pointer;
  transition: 0.35s ease-in-out;
  width: 250px;
  height: 80px;
  font-size: 22px;
  font-weight: 900;
}

.heroContainerButton:hover {
  background-color: #ff0000;
  border: 5px solid #ff0000;
}

.heroContainerRightSide {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.heroContainerRightSideList {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  margin: 0;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.heroContainerRightSideListElement {
  font-size: 22px;
  font-weight: 700;
  margin-top: 10px;
}
