.products {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 20px;
  margin: 0 auto;
  width: 100%;
}

.filters {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 400px;
  padding: 20px;
  position: sticky;
  border-right: 1px solid #000;
  height: 100vh;
}

.filterSection {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.filterSection label {
  font-weight: bold;
}

/* .filterSection input[type="range"] {
  width: 100%;
} */

.filterSection select {
  padding: 10px;
}

.productContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(100% - 420px);
  margin-left: auto;
  margin-right: auto;
  /* margin-bottom: 130px; */
}

.productList {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: flex-start;
  width: 100%;
}

.productItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: calc(33.333% - 20px);
  transition: transform 0.3s ease;
  text-decoration: none;
  color: inherit;
  justify-content: center;
  margin-bottom: 10px;
}

.productImageContainer {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
  max-width: 300px;
}

.productImage {
  width: 100%;
  height: auto;
  max-height: 400px;
  object-fit: contain;
}

.productDetails {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.productDetails h3 {
  font-size: 1.2rem;
  color: #333;
}

.productDetails p {
  font-size: 1rem;
  color: #555;
}

.productImage {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
}

@media (max-width: 1200px) {
  .productItem {
    width: calc(50% - 20px);
  }
}

@media (max-width: 768px) {
  .products {
    flex-direction: column;
  }

  .filters {
    width: 100%;
    height: auto;
    position: relative;
    border-right: none;
  }

  .productContainer {
    width: 100%;
  }

  .productItem {
    width: calc(100% - 20px);
  }
}

@media (max-width: 480px) {
  .filterSection label {
    font-size: 0.9rem;
  }

  .filterSection select,
  .filterSection input[type="range"] {
    padding: 5px;
  }

  .productDetails h3 {
    font-size: 1rem;
  }

  .productDetails p {
    font-size: 0.9rem;
  }
}